/* Japanese Stylesheet */
/* http://stackoverflow.com/questions/14563064/japanese-standard-web-fonts */

html,
.format-quote blockquote {
	font-family: 'Noto Sans Japanese', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1, h2, h3, h4, h5, h6,
blockquote,
.site-footer,
.nav-links,
.page-links,
.chat-author cite {
	font-family: 'Noto Sans Japanese', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
