/* Chinese stylesheet */
/* http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/ */

q { quotes: '\201C' '\201D' '\2018' '\2019'; }

html,
.format-quote blockquote {
	font-family: 'Noto Sans SC', "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}

h1, h2, h3, h4, h5, h6,
blockquote,
.site-footer,
.nav-links,
.page-links,
.chat-author cite {
	font-family: 'Noto Sans SC', "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}
